body {
  background: white;
  font-family: Arial;
}


.site-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  padding-left: 60px;   
  background: white;
  border-bottom: 1px solid white;
  gap: 16px;           
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 20px;
 
}

.right-nav {
  margin-left: auto;     
  display: flex;
  align-items: center;
  padding: 8px 30px;
}

.left-nav a {
  text-decoration: none;
  color: #111;
  padding: 6px 8px;
}

.user-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 26px;
  height: 26px;
  fill: blue;     
}
